*.gz
*.swp
pub/System/AngularPlugin/git
pub/System/AngularPlugin/angular-animate.js
pub/System/AngularPlugin/angular-cookies.js
pub/System/AngularPlugin/angular-loader.js
pub/System/AngularPlugin/angular-messages.js
pub/System/AngularPlugin/angular-mocks.js
pub/System/AngularPlugin/angular-resource.js
pub/System/AngularPlugin/angular-route.js
pub/System/AngularPlugin/angular-sanitize.js
pub/System/AngularPlugin/angular-scenario.js
pub/System/AngularPlugin/angular-touch.js
pub/System/AngularPlugin/angular.js
AngularPlugin.md5
AngularPlugin.sha1
AngularPlugin.tgz
AngularPlugin.txt
AngularPlugin.zip
AngularPlugin_installer
AngularPlugin_installer.pl
